img {
    animation-name: spinning;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.element {
	background-color: #0997d3;
	width: 200px;
	height: 200px;
	transition: transform 1s;
}

.element:hover {
    transform: translateX(100%);
}